/*
.topcontainer{
    height: 500px;
    background: plum;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topcontainer .header{
    height:20%;
    padding: 0px;
    margin:10px;
    width: 90%;
    background: skyblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    background:grey;
    width:10%;
    height:80%;
    margin:5px;
    display: flex;
    align-items: center;
}

ul{
    background:grey;
    display: flex;
    text-decoration:none;
    gap:15px;
    list-style: none;               
}

a{
    text-decoration:none;
}

.topcontainer .bottomheader {
    height: 80%;
    padding:0px;
    margin:10px;
    width: 90%;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topcontainer .bottomheader .leftcard{
    background:grey;
    width:50%;
    height:80%;
    margin:5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.topcontainer .bottomheader .leftcard .title{

}

.topcontainer .bottomheader .leftcard p{

}

.topcontainer .bottomheader .leftcard button{
    width: 25%;
}



.topcontainer .bottomheader .rightcard{
    background:grey;
    width:50%;
    height:80%;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topcontainer .bottomheader .rightcard img{
    height: auto;
    width: 90%;
}

*/

/* done with the top container, moving onto the uppercontainer*/

/*
.uppercontainer{
    margin:0px ;
    height: 400px;
    background: plum;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.uppercontainer .random{
    height: 10%;
    width: 50%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uppercontainer .sublist{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 85%;
    background-color: skyblue;
    justify-content: space-between;
    align-items: center;
}

.uppercontainer .sublist .holder{
    background-color: grey;
    display: flex;
    width: 20%;
    height: 95%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
}

.uppercontainer .sublist .holder img{

    max-height: 60%;
    max-width: 100%;
    border-radius: 15px;
}

.uppercontainer .sublist .holder div{
    background-color: aqua;
    height: 38%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* done with upper container section*/
/*
.tres{
    margin:0px ;
    height: 300px;
    background: plum;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:20px;
}

.tres .quote{
    height: 80%;
    width: 70%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres .speaker{
    height: 15%;
    width: 50%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: right;
}
*/
/* done with third container section*/
/*
.quatro{
    margin:0px ;
    height: 200px;
    padding: 40px;
    background: plum;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quatro .bigbox{
    height: 80%;
    width: 80%;
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quatro .bigbox .text{
    height: 90%;
    width: 60%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quatro .bigbox .button{
    height: 50%;
    width: 15%;
    background-color: blue;
    display: flex;
    justify-content: right;
    align-items: right;

}
*/
/* done with third container section*/

