
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.uno{
    background: #1F2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.uno .header{
    height:40px;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    width:25%;
    height:30px;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    text-decoration:none;
    gap:25px;
    list-style: none;               
}

a{
    text-decoration:none;
    font-size: 18px;
    color:#E5E7EB;
}

.uno .bottomheader {
    padding:4em;
    margin:1%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 18px;
    color:#E5E7EB;
}

.uno .bottomheader .leftcard{
    width:60%;
    height:95%;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap:5px;
}

.uno .bottomheader .leftcard .big{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.uno .bottomheader .leftcard .description{
    font-size: 24px;
}

.uno .bottomheader .leftcard button{
    width: 25%;
    background-color: #3882f6;
    border-radius: 4px;

}



.uno .bottomheader .rightcard{
    width:60%;
    height:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.uno .bottomheader .rightcard img{
    max-height: 100%;
    max-width: 100%;
}

/* informational container*/


.dos{

    padding: 3em;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.dos .random{
    height: 10%;
    padding: 1em;
    width: 50%;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dos .sublist{
    display: flex;
    flex-direction: row;
    font-style: italic;
    width: 90%;
    height: 85%;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dos .sublist .holder{
    display: flex;
    width: 20%;
    height: 95%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    flex-wrap: wrap;
}

.dos .sublist .holder img{

    max-height: 60%;
    max-width: 100%;
    border-radius: 15px;
}

.dos .sublist .holder div{
    height: 38%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Quote container section*/

.tres{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:4em;
}

.tres .quote{
    width: 80%;
    font-size: 25px;
    font-style: italic;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres .speaker{
    height: 30px;
    width: 80%;
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: right;
    align-items: right;
}

/* signup container section*/

.quatro{
    padding: 6em;
    width: 100%;
    background: whitesmoke;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quatro .bigbox{
    padding: 3em;
    width: 70%;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quatro .bigbox .text{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 18px;
    color: #f9faf8;
}
.quatro .bigbox .text .lasttitle{
    font-size: 22px;
    font-weight: bold;
}


.quatro .bigbox .pressme{
    height: 26px;
    width: 15%;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}

.quatro .bigbox{
    size: 25px;
}

/* footer section*/

.footer{
    height: 2em;
    width: 100%;
    background: #1F2937;
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footertext{
    height: 2em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}